<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="style.css">
<title>Student</title>
</head>
<body>
    <h1><%=@dojo.city%>'s <%=@student.first_name%> <%=@student.last_name%>
    <p> <%=@student.email%>
    <h3>Cohort</h3>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        <% @cohort.each do |student| %>
        <tr>
            <td><%=student.first_name%></td>
            <td><%=student.last_name%></td>
            <td><%=student.email%></td>
        </tr>
        <% end %>
        <a href="/dojos">Home |</a> <a href="/dojos/<%=@dojo.id%>/students/<%=@student.id%>/edit">Edit</a>

</body>
</html>