<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="style.css">
<title>Dojos</title>
</head>
<body>
    <h1> Listing <%=@length%> Dojos </h1>
    <table class=table>
        <tr>
            <th>Branch</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    <% @dojos.each do |dojo| %>
        <tr>
            <td><%=dojo.brach%></td>
            <td><%=dojo.street%></td>
            <td><%=dojo.city%></td>
            <td><%=dojo.state%></td>
            <td><a href="/dojos/<%=dojo.id%>">Show</a> <a href="/dojos/<%=dojo.id%>/edit">Edit</a> <a href="/dojos/<%=dojo.id%>/destroy">Destroy</a></td>
        </tr>
    <% end %>
    </table>
    <a class=btn-primary href=dojos/new>New</a>
</body>
</html>
